# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Packaging stuff
build/
dist/
zabel_elements.egg-info/

# Credentials
credentials.json

# VisualStudio noise
.vs/
src/src.pyproj

# VisualStudio Code noise
.vscode/

# PyCharm noise
.idea
venv


# pytype
**/pytype_output/
**/.mypy_cache/
**/.pytype/

# automatic documentation generation
docs/_build/
src/classes.dot
src/classes.png
src/packages.dot
src/packages.png
